<!DOCTYPE html>
<html lang="ro">
<head>
    @Html.Partial("_Header")  </head>
<body id="page-top">

<div id="wrapper">
    @{
        Html.RenderAction("_Sidebar", "Home"); 
    }
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            @{
            }
            @Html.Partial("_Navbar") 
            
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_Footer") </div>
</div>
<script src="/Content/vendor/jquery/jquery.min.js"></script>
<script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/Content/js/sb-admin-2.min.js"></script>

@RenderSection("Scripts", required: false)
</body>
</html>