@model OtdamDarom.BusinessLogic.Dtos.UserRegisterRequest

@{
    ViewBag.Title = "Înregistrare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <div class="card o-hidden border-0 shadow-lg my-5 mx-auto" style="max-width: 550px;">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-12"> 
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Creează un cont!</h1>
                        </div>

                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
                        }
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger text-center">@TempData["ErrorMessage"]</div>
                        }

                        @using (Html.BeginForm("RegisterAction", "Auth", FormMethod.Post, new { @class = "user", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-user", @id = "inputName", @placeholder = "Nume Complet" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @id = "exampleInputEmail", @placeholder = "Adresa de email", @type = "email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", @id = "exampleInputPassword", @placeholder = "Parolă" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-user", @id = "exampleRepeatPassword", @placeholder = "Repetă Parola" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            @Html.HiddenFor(m => m.UserRole)

                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Înregistrează contul
                            </button>
                        }
                        <div class="text-center">
                            <a class="small" href="@Url.Action("ForgotPassword", "Auth")">Ai uitat parola?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="@Url.Action("Login", "Auth")">Ai deja un cont? Autentifică-te!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}